<html>
  <head>
    <title>MEAN App</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="app.js"></script>
    <style> .glyphicon-thumbs-up, .glyphicon-thumbs-down { cursor:pointer } </style>
  </head>
  <body ng-app="flapperNews">
  <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
      <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
      <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
    </ul>
  </nav>
	<div class="row">
	    <div class="col-md-6 col-md-offset-3">
	        <ui-view></ui-view>
	    </div>
	</div>
   <script type="text/ng-template" id="/register.html">
  <div class="page-header">
    <h1>Flapper News</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="register()" style="margin-top:30px;">
    <h3>Register</h3>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Username" ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</script>
<script type="text/ng-template" id="/login.html">
  <div class="page-header">
    <h1>Flapper News</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="logIn()" style="margin-top:30px;">
    <h3>Log In</h3>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Username" ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
  </script>
    <script type="text/ng-template" id="/home.html">
        <div class="page-header">
            <h1>Flapper News</h1>
        </div>
        <div ng-repeat="post in posts | orderBy: '-votes'">
            <span class="glyphicon glyphicon-thumbs-up"
                ng-click="upvote(post)"></span>
            {{post.votes}}
            <span class="glyphicon glyphicon-thumbs-down"
                ng-click="downvote(post)"></span>
            <span style="font-size:20px;margin-left:10px">
                <a ng-show="post.link" ng-href="{{post.link}}" target="_self">
                    {{post.title}}
                </a>
                <span ng-hide="post.link">
                    {{post.title}}
                </span>
                <span ng-show="post.author">
  					posted by <a>{{post.author}}</a> |
				</span>
    
            </span>
            <span>
                <a href="#/posts/{{post._id}}">Comments</a>
                ({{post.comments.length}})
            </span>
        </div>
        <div class="col-xs-6 col-lg-4">
        <form ng-submit="addPost()" ng-show="isLoggedIn()" style="margin-top:30px;">
  			
       
            <h3>Add a new post:</h3>

            <div class="form-group">
                <input type="text"
                    class="form-control"
                    placeholder="Title"
                    ng-model="title"></input>
            </div>

            <div class="form-group">
                <input type="text"
                    class="form-control"
                    placeholder="Link"
                    ng-model="link"></input>
            </div>

            <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </form>
        <div ng-hide="isLoggedIn()">
 				 <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
		</div>
    </script>
    <!-- end of /home template -->
    <script type="text/ng-template" id="/posts.html">
        <div class="page-header">
            <h3>
                <a ng-show="post.link" href="{{post.link}}">
                    {{post.title}}
                </a>
                <span ng-hide="post.link">
                    {{post.title}}
                </span>
            </h3>
        </div>

        <div ng-repeat="comment in post.comments | orderBy: '-votes'">
            <span class="glyphicon glyphicon-thumbs-up"
                ng-click="upvote(comment)"></span>
            {{comment.votes}}
            <span class="glyphicon glyphicon-thumbs-down"
                ng-click="downvote(comment)"></span>
            - by {{comment.author}}
            <span style="font-size:20px;margin-left:10px">
                {{comment.body}}
            </span>
        </div>
        <form ng-submit="addComment()" ng-show="isLoggedIn()"style="margin-top:30px;">
            <h3>Add a new comment</h3>
            <div class="form-group">
                <input type="text"
                    class="form-control"
                    placeholder="Comment"
                    ng-model="body"></input>
            </div>
            <button type="submit" class="btn btn-primary">Post to {{post.title}}</button>
        </form>
        <div ng-hide="isLoggedIn()">
  <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
</div>
    </script>
  </body>
</html>
